@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#todo-button {
  margin-top: 20px;
  span {
   color: #2b3e5c
  }
}

.white {
  color: #fff;
}

#project-header-row {
  background-color: #428bca;
  margin-top: 20px;
  padding: 20px;
}

#project-name-cell {
  text-align: left;
}

#task-row {
  color: #777777;
  background-color: #ffffff;
  padding: 10px;
  border-style: solid;
  border-width: thin;
}

#task-name-cell {
  font-weight: bold;
  text-align: left;
  border-right-style: solid;
  border-right-width: thin;
  border-left-style: double;
}

#add-task-row {
  background-color: #cfcfcf;
  padding-top: 15px;
}

#task-move-icon {
  border-right-style: solid;
  border-right-width: thin;
}

#task-edit-icon {
  border-right-style: solid;
  border-right-width: thin;
}

#task-glyphicon-plus {
  padding-top: 10px;
  padding-right: 30px;
  color: #82b99b;
}

#project-calendar-icon {
  padding-right: 40px;
}

#project-edit-icon {
  border-right-style: solid;
  border-right-width: thin;
}

#project-delete-icon {
  span {
    float: right;
  }

}
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Projects index */
.projects {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

